<html lang="en">
<head>
    <%- include("./templates/head") -%>
</head>
<body>
    <% if(message) { %>
        <h1><%= message %></h1>
    <% } %>

    <form action="password" method="POST">
        <label for="current-password">Current password: </label>
        <input type="password" name="current-password" required>
        <label for="new-password">New password: </label>
        <input type="password" name="new-password" required>
        <label for="new-password-repeat">Repeat new password: </label>
        <input type="password" name="new-password-repeat" required>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>